<h3> Hey, <%= @user.name %>! </h3>

DASHBOARD:
<p>

INCOME:
<p>
<%= link_to "ADD INCOME", new_user_income_path(@user) %>
<p>

SAVINGS |


EXPENSES |


INVESTMENTS 

<p>

<%= link_to "Log Out", logout_path %>