<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Investing 101</h1>

        <figure class="text-center">
            <br>
            <blockquote class="blockquote">
                <p>"An investment in knowledge pays the best interest."</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">Benjamin Franklin</cite>
            </figcaption>
        </figure>

        <p class="lead text-muted">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p>WHY INVEST?</p>Investing is what you do with money earmarked for long-term goals like retirement. With a long time horizon, you can make growth, rather than liquidity, the priority.</li>
                <li class="list-group-item"><p>WAYS TO INVEST:</p>
                <li class="list-group-item"><p>1. STOCK MARKET</p>You’re going to need to invest in the stock market. 
                    One look at the historic rate of return of the major asset classes shows that the stock market is going to give you the biggest bang for your bucks.
                    Despite the stock market’s far superior returns, a 2018 survey commissioned by NerdWallet and conducted by The Harris Poll, found that 43% of millennials are not investing. Many said they think it’s too risky or they don’t know how to invest.
                    Well, now’s the time to learn how to invest; to let your savings dollars hitch a ride in a vehicle you can hold on to for years and have it become more valuable than when you started.</li>
                <li class="list-group-item"><p>3. REAL ESTATE</p>Okay okay, say you DON'T trust the real estate market there are other ways to invest. 
                    Home are tangile assets. Among the many benefits of purchasing real estate is that you can see, touch, and use a rental property or home.
                    If it's too much a stretch to lay out $25,000 for a down payment (perfectly understandable), emerging tech companies used crowdfundin to sourcee together pools of investment.
                    Even saving as little over $500 can get you in the game.</li>
                <li class="list-group-item">
                    <p>4. RETIREMENT ACCOUNTS</p>
                    <p>Yes these accounts are considered SAVING and INVESTING tools. If you're ready to save for retirement we'll start with two of the most popular and widely used options, IRA  and 401K.</p>
                    <p>401K</p>
                    <p>First off, a 401k is offered through your employer and utilizes pre-tax dollar to fund the account. Within the 401k, there are funds you can invest your money into that are pre-determined by the plan sponsor. Once the funds are deposited into the account, they sit there until you retire.</p>
                    <p>IRA</p>
                    <p>An IRA is similar in that it uses pre-tax dollars, but the main difference is that an IRA is not offered through an employer and anyone can open it.Also, within an IRA you have the ability to select from a wider range of equities or mutual funds, giving you more flexibility in how your money grows.</p>
                </li>
            </ul>
        </p>
      </div>
    </div>
</section>