<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Saving 101</h1>

        <figure class="text-center">
            <br>
            <blockquote class="blockquote">
                <p>“Do not save what is left after spending; instead spend what is left after saving.”</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">Warren Buffett</cite>
            </figcaption>
        </figure>

        <p class="lead text-muted">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p>WHY SAVE?</p>Saving is what you do with the money you’re going to use to pay for short-term goals — ones in the next five years or so. That money belongs in an account where it’s liquid — that is, easily accessible — and safe, such as a high-yield savings account or even a CD if you’re confident you won’t need the funds until after a certain date.</li>
                <li class="list-group-item"><p>WAYS TO SAVE:</p>
                <li class="list-group-item"><p>1. CREATE A BUDGET</p>An effective way to save money is directing where your income goes in the form of a budget. This is typically done each paycheck or at least once a month, planning where you can spend your money and when to save you money.</li>
                <li class="list-group-item"><p>2. SIDE HUSTLE</p>Growing in popularity is the side hustle, which is when you utilize your free time to generate more income. For example, you may work a 9 to 5 office job, but when you get home you sell homemade blankets on Etsy, work on starting your blog, or grow your affiliate marketing income. Having a side hustle is an effective way to generate income and help boost your savings potential.</li>
                <li class="list-group-item">
                    <p>3. RETIREMENT ACCOUNTS</p>
                    <p>If you're ready to save for retirement we'll start with two of the most popular and widely used options, IRA  and 401K.</p>
                    <p>401K</p>
                    <p>First off, a 401k is offered through your employer and utilizes pre-tax dollar to fund the account. Within the 401k, there are funds you can invest your money into that are pre-determined by the plan sponsor. Once the funds are deposited into the account, they sit there until you retire.</p>
                    <p>IRA</p>
                    <p>An IRA is similar in that it uses pre-tax dollars, but the main difference is that an IRA is not offered through an employer and anyone can open it.Also, within an IRA you have the ability to select from a wider range of equities or mutual funds, giving you more flexibility in how your money grows.</p>
                </li>
                <li class="list-group-item"><p>4. SAFETY NET</p>An emergency savings fund is a separate account you can use to cover expenses during an unforeseen event, like an illness, losing a job, or even a major car repair. Having money at your fingertips can take some of the financial sting out of dealing with unforeseen events – and could also help you avoid taking on extra debt. A good goal is to put away at least 3 – 6 months’ worth of living expenses. That might seem like a big amount at first, but the idea is to put a small amount away each week or two to build up to that goal.</p></li>
            </ul>
        </p>
      </div>
    </div>
</section>



