<nav class="navbar navbar-light bg-secondary">
    <%= link_to "Main Page", root_path, :class => "btn btn-outline-light"%>
</nav>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">Spending 101</h1>

        <figure class="text-center">
            <br>
            <blockquote class="blockquote">
                <p>"I see it, I like it, I want it, I got it."</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">Ariana Grande</cite>
            </figcaption>
        </figure>

        <p class="lead text-muted">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p>WHY SPEND?</p>Use your imagination.</li>
            </ul>
        </p>
      </div>
    </div>
</section>