<h3>Hey, <%= @user.name.upcase %></h3>


<% if @incomes %>
    <% @incomes.each do |i| %>
        <%= i.source %> |
        SALARY: <%= i.amount %>
    <% end %>
<% end %>

<p>





SHOW FOR THIS SPECIFIC SOURCE OF INCOME THE ALLOCATION TOWARDS:
<p>
SAVINGS |

EXPENSES |

INVESTMENTS | STRETCH GOALS

<%= link_to "DASHBOARD", user_path(@user) %>