<nav class="navbar navbar-light bg-secondary">
    <div class="container">
        <%= link_to "INVEST", invest_path, :class => "btn btn-outline-light" %> 
        <%= link_to "SAVE", save_path, :class => "btn btn-outline-light" %>
        <%= link_to "SPEND", spend_path, :class => "btn btn-outline-light" %>
    </div>
</nav>
