<%= content_tag :div do %>
<%= content_tag :h3, "Icons made by" %>
    <a href="https://www.flaticon.com/free-icon/payment_1267118?term=spend&page=1&position=89&page=1&position=89&related_id=1267118&origin=search" title="itim2101">itim2101</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a><br>
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a><br>
    <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
<% end %>